<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TypeTable</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
</head>
<body>
    <div class="content">
        <div class="header">
            <p><a href="">TITLE</a></p>
            <ul id="menuPanel">
                <li><a href="{% url 'showTable' num=1 %}">Типы устройств</a></li>
                <li><a href="{% url 'showTable' num=2 %}">Устройства</a></li>
                <li><a href="{% url 'showTable' num=3 %}">Офисы</a></li>
                <li><a href="{% url 'showTable' num=4 %}">Роли</a></li>
                <li><a href="{% url 'showTable' num=5 %}">Пользователи</a></li>
                <li><a href="{% url 'showTable' num=6 %}">Записи</a></li>
            </ul>
        </div>
    
        <div class="body">
            <form action="{% url 'updateStatus' num=num_val pk=pk_id%}" class="updateRecord" method=POST>
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Изменить">
            </form>         
        </div>
    
        <div class="footer">
            
        </div>
    </div>    
</body>
<script>
    $(document).ready(function () {
        //change selectboxes to selectize mode to be searchable
           $("select").select2();
        });
</script>
</html>